[Unit]
Description=uWSGI instance to serve cloud
After=network.target

[Service]
User=centos
Group=nginx
WorkingDirectory=/home/centos/deploy
Environment="PATH=/home/centos/deploy/ccwebappenv/bin"
ExecStart=/home/centos/deploy/ccwebappenv/bin/uwsgi --ini /home/centos/deploy/cloud.ini

[Install]
WantedBy=multi-user.target
